.info
{
    font-size: 16px;
    color: rgb(219, 193, 134);
}

.introduction
{
    font-size: 18px;
    color: rgb(219, 193, 134);
    padding: 20px;
}

.boxcontainer
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box
{
    display: block;
    background-color: rgb(219, 193, 134);
    width: 350px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
.box2
{
    display: block;
    background-color: rgb(219, 193, 134);
    width: 350px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

body
{
    background-color:rgb(252, 230, 180);
}

h1
{
    color: rgb(219, 193, 134);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

h2
{
    color: rgb(176, 155, 106);
    text-align: center;
    font-size: 30px;
}

p
{
    color: rgb(176, 155, 106);
}

label
{
    color: rgb(176, 155, 106);
}

button
{
    background-color:rgb(252, 230, 180);
    color: rgb(176, 155, 106);
}

input
{
    background-color:rgb(252, 230, 180);
}