.info
{
    font-size: 16px;
    color: rgb(25, 25, 120);
}

.introduction
{
    font-size: 22px;
    color: rgb(25, 25, 120);
    padding: 2px;
}

.disclaimer
{
    text-align: center;
    font-size: 12px;
    color: rgb(25, 25, 120);
}

.boxcontainer
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.box
{
    border-radius: 25px;
    border-color: rgb(25, 25, 120);
    display: block;
    background-color: rgb(150, 200, 255);
    width: 350px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.bigbox
{
    border-radius: 25px;
    border-color: rgb(25, 25, 120);
    display: block;
    background-color: rgb(150, 200, 255);
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.quotationbox
{
    text-align: center;
    display: block;
    border-radius: 25px;
    border-color: rgb(25, 25, 120);
    background-color: rgb(150, 200, 255);
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(230, 245, 255);
}

h1
{
    color: rgb(25, 25, 120);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

h2
{
    color: rgb(25, 25, 120);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h3
{
    color: rgb(25, 25, 120);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p
{
    color: rgb(25, 25, 120);
    font-family: Arial, Helvetica, sans-serif;
}

label
{
    color: rgb(25, 25, 120);
    font-family: Arial, Helvetica, sans-serif;
}

button
{
    background-color: rgb(220, 235, 255);
    color: rgb(25, 25, 120);
    font-family: Arial, Helvetica, sans-serif;
}

input
{
    background-color: rgb(220, 235, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.food_input
{
    background-color: rgb(220, 235, 255);
    width: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.food_input_label
{
  margin-right: 20px;
}


img
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
}

select
{
    background-color: rgb(220, 235, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#result_BMR, #result_active, #result_future, #result_planner
{
    text-align: left;
    color: rgb(25, 25, 120);
    font-family: Arial, Helvetica, sans-serif;
}

table
{
  border: 1px solid blue;
  color: rgb(25, 25, 120);
  font-family: Arial, Helvetica, sans-serif;
}

th, td
{
  padding-right: 20px;
}